/* CSS declarations go here */

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: .9 ;
  width: 100%;
}
/*.page-header .container {
  padding-top: 20% !important;
}*/
.page-header .container h3 {
  font-size: 50px !important;
  font-weight: bolder;
}
.page-header .container h4{
  border-bottom: 1px solid #007fff;
  display: inline-block;
  font-weigth: bolder;
}

#headertext{
  padding-top: 100px;
}
#contacttext{
  padding-top: 500px;
  text-align: center !important;
}
@media only screen and (max-width: 479px) and (min-width: 0px){
.video-container {
    display:none !important;
}

#contacttext{
  padding-top: 100px;
  text-align: center !important;
}

.header-1 {
  background-image: url('/images/frontpage.jpg');
}
.page-header .container h3 {
  font-size: 25px !important;
}

.page-header .container{
  padding-top: 90px !important;
  height: 400px !important;
}

}

@media only screen and (min-width: 768px) {
  .page-header .container{
    padding-top: 40px !important;
  }
  }
}
