/* CSS declarations go here */
div.features-3 {
  background-image: url('images/dronemapping.jpg') !important;
  background-size: cover !important;
  z-index: -1 !important;
  padding-bottom: 0px ;
}

#white-filter{
  background: rgba(255, 255, 255, 0.7) !important;
}
.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: .9 ;
  width: 100%;
  background:transparent url('/images/frontpage.jpg') no-repeat 0 0;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

}
/*.page-header .container {
padding-top: 20% !important;
}*/
.page-header .container h3 {
  font-size: 50px !important;
  font-weight: bolder;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}
.page-header .container h4{
  border-bottom: 1px solid #007fff;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: normal;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;

}
h2.title {
  text-align: center;
}
#headertext{
  padding-top: 10%;
}
#contacttext{
  padding-top: 40%;
  text-align: center !important;
}
@media only screen and (max-width: 479px) and (min-width: 0px){
  .video-container {
    display:none !important;
  }

  #contacttext{
    padding-top: 100px;
    text-align: center !important;
  }

  a.navbar-brand.navbar-left {
    display: none !important;
  }
  .header-1 {
    background-image: url('/images/frontpage.jpg');
  }
  .page-header .container h3 {
    font-size: 25px !important;
  }

  .page-header .container{
    padding-top: 90px !important;
    height: 540px !important;
  }

}

@media only screen and (min-width: 768px) {
  .page-header .container{
    padding-top: 40px !important;
  }
}
}
