
#videocontainer{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow:hidden;
}


.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: .9 ;
  width: 100%;
  background:transparent url('/images/frontpage.jpg') no-repeat center center fixed;
  background-size: cover;
}

@media {
  .video-container {
  padding-top: 50px;
}
}
