/*.navbar.navbar-info {
  background-color: #ffffff !important;
  color: #3C4858 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px #eee !important;
  padding-bottom: 0px !important;
}*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

h1, .h1 {
  font-weight: 100 !important;
  color: white !important;
  font-size: 48px !important;
  font-size: 5rem !important;
  line-height: 1.25 !important;  
  letter-spacing: -0.04em !important;
}
.caret {
  color: #1799d5 !important;
}
.page-header {
  /*height: 100% !important;*/
}
.header-footer{
  position: absolute;
  bottom: 0px;
  background-color: rgba(23,153,213,.5) !important;
  z-index: 99;
  width: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25rem;

}
a#menu-item:hover > h4{
  border-bottom: 1px solid #fff;
  content: "";
  background-color: none !important;
  display: inline-block;
}

@media (max-width: 391px) {
  #span2 {
    display: none;
  }
  #span3 {
    display: none;
  }


}
.underline {
   color: rgba(255,255,255,.5); 
}
.underline:hover {
  text-decoration: underline;
  color: white !important;
}
.cookiebar{
  position: fixed;
  top: 0;
  background-color: #1799D5 !important;
  z-index: 99999999999;
  width: 100% !important;
  font-size: 1.25rem;
}
.navbar {
  top: 24.889px;
}
.navbar .navbar-nav > li > a {
  paddin-top: 15px !important;
}
#homepage {
    /*color: #fff !important;*/
    color: #007096 !important
}
#homepage:hover {
    /*color: #fff !important;*/
    color: #0A0A0A !important
}
#home-video-holder {
    height:100%
}
#video-container video {
    height:100% !important;
}
#hero-gradient {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.45);
}
#overlay-container {
    position: absolute;
    z-index: 500;
    top: 30rem !important;
}

@media(max-width:1069px) {
    #overlay-container {       
        top: 10rem;
        left: 8rem;
    }    
    h1, .h1 { font-size: 4rem !important;}
}

@media (max-width: 768px) {
  #homepage {
    color: #3C4858 !important;
  }
    #overlay-container {
        top: 10rem;
        left: 4rem;
        background: transparent;
    }

    h1, .h1 {
        font-size: 3rem !important;
    }
    .page-header .container {
        padding-top:6.25rem;
        color: #FFFFFF;
    }
}

@media (max-width: 666px) {

  .carousel-caption {
    bottom: 100px !important;
  }
    #overlay-container {
        top: 10rem ;
        left:2rem;
    }

  .page-header .container {
    padding-top: 20rem !important;
    padding-right:1rem;
  }

}
ul.nav.navbar-nav.navbar-center {
}
hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
@media (max-width: 991px) {
  .carousel .page-header{
    padding: 0 !important;
  }

  .carousel,.item,.active{
  height:100% !important;
  max-height: 600px !important; /*slider height*/
}
.carousel-inner{
  height:100% !important;
}

.carousel .item img {
    height: 100% !important;
    max-width: 2000px !important;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
}
body {
  color: #54585a !important;
  /* font-size: 16px !important; */
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
}
h2 .h2{
  color: #007096 !important;
  text-align: center;
}
.navbar-header {
}
.navbar .navbar-nav > li > a {
  font-weight: 700 !important;
  font-size: 12px !important;
  padding-top: 15px !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
  box-shadow: none !important;
  background-color: none !important;
  color: #007096 !important;
}
.btn.btn-danger {
  background-color: transparent !important;
  border: 1px solid white;
  box-shadow: none !important;
}
.btn.btn-white {
  background: #fff !important;
  /* border: 1px #fff solid; */
  color: #1799d5 !important;
}
.btn.btn-white:hover, .btn.btn-white:focus {
  background: #1799d5 !important;
  color: #fff !important;
  border: 1px #1799d5 solid !important;
}
.btn.btn-danger-white {
  background-color: #2196F3 !important;
  box-shadow: none !important;
}
.btn.btn-danger:hover, .btn.btn-danger:focus {
  background-color: #ffffff !important;
  color: #2196F3 !important;
  border: none !important;
}

.btn.btn-info {
  background-color: #fff !important;
  box-shadow: none !important;
  color: #2196F3 !important;
}

.btn.btn-info:hover, .btn.btn-info:focus {
  background-color: #2196F3 !important;
  color: #fff !important;
}

p.card-description {
  font-size: 16px !important;
}
#white {
  color: #ffffff !important;
}
.front{
  max-height: 302px !important;
}
.back {
  max-height: 302px !important;
}
.icon-primary{
  color: #3C4858 !important;
}
div.features-3 {
  background-image: url('images/dronemapping.jpg') !important;
  background-size: cover !important;
  padding: 40px 0px 40px 40px !important ;
  border-radius: 20px 20px 0px 0px;

}
#mission {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}
.btn-info{
  background-color: #1572AB !important;
}

#white-filter{
  background: rgba(255, 255, 255, 0.7) !important;
  margin-right: 2px;
  margin-left: 15px;
}


.info{
  padding: 10px !important;
}
.info p {
  /* color: #3C4858 !important; */
}

div.main.main-raised {
  border-radius: 20px 20px 0px 0px;
}

p.timeline-Tweet-text {
  color: #fff !important;
}

h2 .h2{
  color: #007096 !important;
  text-align: center;
}

#metrics {
  padding-top: 10px;
  padding-bottom: 10px;
}

#info-piece {
  background-color: #f3f3f4;
}

