 .mega-dropdown {
  position: static !important;
  
}
.dropdown .dropdown-menu,
 .dropup:not(.bootstrap-select) .dropdown-menu{
  max-height: 0px;
  -webkit-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  -moz-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  -ms-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  -o-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.dropdown.open .dropdown-menu {
  -webkit-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  -moz-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  -ms-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  -o-transition: max-height 1.0s, opacity 0.2s, visibility 0s;
  transition: max-height 1.0s, opacity 0.2s, visibility 0s;

  max-height: 900px;
  opacity: 1;
  visibility: visible;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  /* list-style: none; */
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  /* color: #222; */
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  /* text-decoration: none; */
}
.container .dropdown-menu {
    left: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #1799d5, #0a4976);
    margin-top: -115px !important;
    z-index: -1;
}
.padding-div {
  padding-top: 100px;
}

