.navbar.navbar-primary {
  background-color: #fff !important;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0DF;
  margin-bottom: 0px !important;
  /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(51, 122, 183, 0.52) !important; */
  z-index: 9999999 !important;
}

a.navbar-brand.navbar-left {
  color: #5A5B5C !important;
}

#brand {
  color: #4596D2 !important;
}
.navbar .navbar-nav > li > a {
  color: #5A5B5C !important;
  padding-top: 15px !important;
}


.navbar .navbar-nav > li >a:focus, .navbar .navbar-nav >li > a:hover {
  color: #4596d2 !important;
}


@media (max-width: 768px) {
  a.navbar-brand.navbar-left {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .logo {
    height: 80px;
    margin-top: -30px !important
  }
}

@media (max-width: 1024px) {
  .logo {
    height: 80px;
    margin-top: -25px !important
  }

  .navbar.navbar-primary {
    padding-top: 0px !important
  }
  
}

@media (max-width: 324px) {
  .navbar.navbar-primary {
    padding-top: 30px !important
  }
}