#construction {
  height: 600px;
}

.centered { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/* .grey {
  background-color: #f3f3f4;
} */
.container_image {
    position: relative;
    text-align: center;
    color: white;
}
.wrapper1 {
  height: 100%;
  width: 100%;
}

wrapper2{
  height: auto;
  width: auto;
}
.services {
    height: 100%;
    background: url("/images/dronemapping.jpg");
    -webkit-background-size:;
    background-size: cover;
    background-position: center;
}

/* Portfolio Overlay Block */
#service-overlay {
    margin-top: 200px;
    background: rgb(0, 0, 0); /* fallback color*/
    background: rgba(0, 112, 150, 0.75);
    max-width:100%;
}
#service-overlay.h1{
  font-size: 35px;
}

#text {
  padding: 40px !important
}

#text p{
  font-size: 20px !important;
}

#ag {
  padding-top: 50px;
}
#vid-holder {
  position: relative !important;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  /* height: 100%; */
  z-index: 0;
  overflow: hidden;
}

#workflow #vid-holder video {
  max-width: 100%;
  background-color: white;
}
video{
height:600px; 
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}
video[poster] {
  object-fit: cover;
}

.span6 {
 width: 50% !important;
 float: left !important;
}

.blueBox:after {
  position: absolute;
  content: '';
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,112,150,.75);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.bkgd--lgrey {
  background-color: #f3f3f4 !important;
}

/* .table-cell {
  display: table-cell;
  float: none;
  position: relative;
  vertical-align: middle;
  padding-left: 40px !important;
} */
.bgimage2 {
  width:100%;
  background: url('/images/header2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}


.nav-tabs > li {
    float:none !important;
    display:inline-block !important;
}

.nav-tabs {
    text-align:center !important;
}
.overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.bkgd--gradient--top{


background: #ffffff url(images/gradient-top2.png) repeat-x center top;
}
#stewardship {
  height: 600px
}
.span5 {
  width: 41.66% !important;
  float: left !important;
}
.figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center
}
.span7 {
  width: 58.33% !important;
  float: left !important;
}
.table {
  height: 100%;
  display: table !important;
  margin-bottom: 0px !important;
}
.table-cell {
  display: table-cell !important;
  vertical-align: middle !important;
  width: 100% !important;
  height: 100% !important;
}
@media screen and (min-width: 601px) {
.pad80l {
    padding-left: 80px !important;
    /* padding-left: 5rem !important; */
}
}

@media screen and (min-width: 601px){

.padEdgeR {
    padding-right: calc(((100vw - 1210px) / 2) + 32px) !important;
    /* padding-right: calc(((100vw - 1210px) / 2) + 2rem) !important; */
}
}
.nav-link {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 4px transparent solid !important;
}

.nav-link:hover {
  border-bottom: 4px solid #007096 !important;
}

.nav-item.active > .nav-link{
  border-bottom: 4px solid #007096 !important;
}

a.tab {
  color: white !important;
}


@media screen and (max-width:768px) {
	.no-mobile, .slides-pagination, .vert--33, .vert--66 {
		display:none !important;
  }

}

@media screen and (max-width: 768px) {
#stewardship {
    text-align: center !important;
    height: auto !important;
    padding: 10px 10px 30px 10px;
}

.span7 {
  width: 100% !important
}
}

@media (max-width: 768px) {
  .mobile-only {
  display: inline !important;
  }
  .figure {
    text-align: inherit !important
  }
}
