<template name='ag'>

  {{>nav}}

  <section>
    <div id='ag' class="bkg-grad">
      <div class="container col-md-12" style="padding-top: 80px">
        <div class="row">
          <div class="col-md-6" style="padding: 30px" align='left'>
            <h1 style="color: #007096 !important; padding-bottom: 50px" align='left'>Precicision Agriculture</h1>
            <p style="font-weight:400  ">UAS offer many benefits in the agriculture industry. Enhance your variable
              rate application program by
              collecting vegetation index data more frequently and less expensively. UAS can also benefit in
              determining soil moisture content and assessing crop damage after sever storms. ISight RPV Services has
              extensive experience delivering results in the agriculture industry. </p>
          </div>
          <div class="col-md-6" style="padding: 60px">
            <img src="/images/drone_1.jpg" class="img-responsive wow fadeInUp" alt="">

          </div>

        </div>
      </div>
    </div>
    <div class='container' style="padding: 0 !important; margin: auto !important; width: 100% !important" align='center'>
      <div id="info-piece" class="row" style="padding: 20px 0px 20px 0px !important; margin: 0 !important">
        <div class="col-md-12">
          <p style="font-weight: normal"> <img src="images/logo.png" height="14" alt="logo">Ready to gain a better
            perspective<button>Contact
              Us</button></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4" align="center">
          <h2>Watch us in action.</h2>
        </div>
      </div>
    </div>
    <div id="vid-holder" align="center">
      <video id="video-workflow" poster="/images/ag_1.jpg" class="video-fluid z-depth-1"  height="500" preload controls muted>
        <source src="/images/isight.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  {{>footer}}
</template>