<template name="contact_us">
	{{>nav}}

    <style>
        .info-title {
            margin-top: 20px;
            color: #ffffff;
        }
        .icon {
            margin-top: 14px;
            color: #ffffff;            
        }
        .material-icons {
            float:left;
            margin:.25rem 
        }


    </style>

	<div class="contactus-1 section-image" style="background-image: url('/images/isight_black_white.jpg')">

		<div class="container">
			<div class="row">
                <div>
                    <h2 class="title">Contact Us</h2>
                    <h5 class="description">Learn how UAS can improve the efficiency of collecting information and deliver new insights. </h5>
                    <div class="icon icon-primary">
                         <h4 class="info-title"><i class="material-icons">phone</i> Call us</h4>
                    </div>
                    <div class="description">                        
                        <p style="color: #007096; font-weight: bold">
                            Grand Forks Site Manager - Doug McDonald, 701.740.9652<br />
                            Fargo Site Manager - Joey Schmit, 701.367.2905<br />
                            Watford City Site Manager - Adam Overvold, 701.367.0046<br />
                            Media Inquiries - Alison Ritter, 515.314.8192
                        </p>
                    </div>
                    <br />
                    <div class="icon icon-primary">
                        <i class="material-icons">email</i> <h4 class="info-title"> Email us</h4>
                    </div>
                    <div class="description">                        
                        <p>
                            <a href="mailto:info@isightdrones.com" style="font-weight:bold">info@isightdrones.com</a>
                        </p>
                    </div>
                </div>
			</div>
		</div>

	</div>
	{{>footer}}
</template>