<template name='flightpros'>
    {{>nav}}

    
        <div id="flightproOuter" class="border--white border--2px border--b">
            <div id="flightprobackground" class="span5 wow fadeIn no-mobile no-tablet" style="height: 100%;background: url(/images/flight_pro_home.png) left center / cover no-repeat;visibility: visible;animation-name: fadeIn;">
                &nbsp;
            </div>
            <div class="span7 table wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="table-cell pad80l padEdgeR">
                    <h1 style="color: #007096 !important; padding: 2rem 0 1.75rem 0">Flight Pros is excited to announce…</h1>
                    <p><strong>We are now part of the ISight Drone Services family.</strong></p>
                    <p>
                        Flight Pros adds to the line-up of services ISight offers, including:
                        <ul>
                            <li>
                                Infrastructure inspection
                                <ul>
                                    <li>Well pad</li>
                                    <li>Pipeline</li>
                                    <li>Wind turbine</li>
                                    <li>Powerline</li>
                                </ul>
                            </li>
                            <li>Construction monitoring and mapping</li>
                            <li>Advertising and promotion</li>
                            <li>Precision agriculture</li>
                            <li>Disaster response and evaluation</li>
                            <li>Aerial site mapping</li>
                            <li>3D modeling</li>
                            <li>High-definition aerial photography and videography</li>
                            <li>Manned aircraft operations</li>
                            <li>Product testing and training</li>
                        </ul>
                    </p>

                    <p>
                        With this acquisition, ISight currently has offices in Grand Forks and Fargo and Watford City.
                        “After seeing the professional, high-quality work that Flight Pros produces, it made perfect sense for Joey to join our team,” said ISight CEO Tommy Kenville. “This expansion of our business services only continues to ready us for beyond visual line of sight operations.”
                      
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    
    
    {{>footer}}

</template>