<template name="footer">
  <hr />
  <footer class="footer footer-big" style="z-index: 9; position: relative;">
    <div class="container">
      <div class="content">
          <div class="row">
              <div class="col-md-8">
                  <h6 style="font-size: 16px">ABOUT</h6>
                  <p style="color: #54585a; font-size: 14px">
                      As the first private drone company founded in North Dakota, ISight RPV Services provides Remotely Piloted Vehicle operations to agricultural, critical infrastructure, wildlife management, insurance, and emergency services clients so they can unlock the value and efficiency of collecting data with unmanned aerial vehicles.
                  </p>
                  <p style="color: #54585a; font-size: 14px">
                      ISight RPV Services was founded in 2015 by Nathan Leben and Adam Lingwall. In 2017, ISight merged with Unmanned Applications Institute International (UAI) owned by Tommy Kenville, forming Midwest Drone Group.
                  </p>
                  <p style="color: #54585a; font-size: 14px">
                      With the purchase of Fargo-based Flight Pros in 2020, ISight Drone Services is positioned perfectly for the exploding UAS industry. Eventually, almost every business sector will benefit from drone operations.

                  </p>
              </div>
              <div class="col-md-4">
                  <h6 style="font-size: 16px">Contact</h6>
                  <p>
                      <i class="fa fa-envelope mr-3" style="padding-right: 10px"></i><a href="mailto:info@isightrpv.com">info@isightrpv.com</a>
                  </p>
                  <p>
                      <i class="fa fa-phone mr-3" style="padding-right:10px"></i><a href="tel:+7604902597">760.490.2597</a>
                  </p>
              </div>             

          </div>
      </div>

      <hr />

      <ul class="pull-left">
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/services">
            Services
          </a>
        </li>
        <li>
          <a href="/team">
            Team
          </a>
        </li>       
        <li>
          <a href="/contactus">
            Contact Us
          </a>
        </li>
      </ul>

      <ul class="social-buttons pull-right">
        <li>
          <a href="https://twitter.com/isightrpv" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/isightrpv" target="_blank"
            class="btn btn-just-icon btn-facebook btn-simple">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCL7VnI_Ya5NEHnf16IUI1Gg" target="_blank"
            class="btn btn-just-icon btn-google btn-simple">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/isight-rpv/" target="_blank"
            class="btn btn-just-icon btn-linkedin btn-simple">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <div class="container">
          <div style="background:#FFF;padding-bottom:1rem;text-align:center">
              <img src="images/isnetmember.png" alt="Isn Logo - Isnetworld Member Contractor Logo @clipartmax.com" style="width:100px;">
          </div>
          <p>&copy;2017-2020 ISight Drone Services</p>
          <p>
              Website developed by
              <a href="https://boomtown.dev" style="font-weight: bold" target="_blank">
                  Boomtown Media
              </a>
          </p>
      </div>

      <!-- <div class="copyright pull-right">
        Copyright &copy;2017 ISight | RPV All Rights Reserved.
      </div> -->
    </div>
  </footer>
</template>