<template name="gallery">
  <!--     *********    PROJECTS 3     *********      -->
  {{>nav}}

  <div class="projects-3 section-dark" id="projects-3">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h6 class="category text-muted">Our work</h6>
          <h2 class="title">Gallery</h2>
        </div>
      </div>
  </div>

    <div class="text-center">

      <div class="btn-group" id="filters">
        <button class="btn btn-info filter-all" autofocus>show all</button>
        <button class="btn btn-info filter-ag" >ag</button>
        <button class="btn btn-info filter-infra" >infrastructure</button>
        <button class="btn btn-info filter-construction" >construction</button>
      </div>
    </div>

    <div class="grid"
      data-isotope='{ "itemSelector": ".grid-item", "masonry": { "columnWidth": 300 } }'>

      <div class="grid-item" data-category="ag"><img src="/images/frontpage1.jpg" /></div>
      <div class="grid-item"><img src="/images/image1.JPG"  /></div>
      <div class="grid-item"><img src="/images/image2.JPG"  /></div>
      <div class="grid-item ag"><img src="/images/image3.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image4.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image5.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image6.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image7.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image8.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image9.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image10.JPG" /></div>
      <div class="grid-item ag"><img src="/images/image11.JPG" /></div>
    </div>

</div>

{{>footer}}
</template>
