<template name="gallery">
  <!--     *********    PROJECTS 3     *********      -->
  {{>nav}}

  <div class="projects-3 section-dark" id="projects-3">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h6 class="category text-muted">Our work</h6>
          <h2 class="title">Gallery</h2>
        </div>
      </div>
  </div>

    <div class="text-center">

      <div class="btn-group" id="filters">
        <button class="btn btn-info filter-all" autofocus>show all</button>
        <button class="btn btn-info filter-ag" >ag</button>
        <button class="btn btn-info filter-infra" >infrastructure</button>
        <button class="btn btn-info filter-construction" >construction</button>
      </div>
    </div>

    <div class="grid"
      data-isotope='{ "itemSelector": ".grid-item", "masonry": { "columnWidth": 300 } }'>

      <div class="grid-item"><a href="/images/frontpage1.jpg" data-lightbox="frontpage1"><img src="/images/frontpage1_thumb.jpg" /></a></div>
      <div class="grid-item"><a href="/images/isight.jpg" data-lightbox="isight"><img src="/images/isight_thumb.jpg" /></a></div>
      <div class="grid-item ag"><a href="/images/image1.JPG" data-lightbox="image1"><img src="/images/image1_thumb.JPG"  /></a></div>
      <div class="grid-item ag"><a href="/images/image2.JPG" data-lightbox="image2"><img src="/images/image2_thumb.JPG"  /></a></div>
      <div class="grid-item ag"><a href="/images/image3.JPG" data-lightbox="image3"><img src="/images/image3_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image4.JPG" data-lightbox="image4"><img src="/images/image4_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image5.JPG" data-lightbox="image5"><img src="/images/image5_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image6.JPG" data-lightbox="image6"><img src="/images/image6_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image7.JPG" data-lightbox="image7"><img src="/images/image7_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image8.JPG" data-lightbox="image8"><img src="/images/image8_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image9.JPG" data-lightbox="image9"><img src="/images/image9_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image10.JPG" data-lightbox="image10"><img src="/images/image10_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/image11.JPG" data-lightbox="image11"><img src="/images/image11_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/ag1.JPG" data-lightbox="ag1"><img src="/images/ag1_thumb.JPG" /></a></div>
      <div class="grid-item ag"><a href="/images/ag2.jpg" data-lightbox="ag2"><img src="/images/ag2_thumb.jpg" /></a></div>
      <div class="grid-item ag"><a href="/images/ag3.jpg" data-lightbox="ag3"><img src="/images/ag3_thumb.jpg" /></a></div>
      <div class="grid-item ag"><a href="/images/ag4.jpg" data-lightbox="ag4"><img src="/images/ag4_thumb.jpg" /></a></div>
      <div class="grid-item construction"><a href="/images/construction2.jpg" data-lightbox="contruction2"><img src="/images/construction2_thumb.jpg" /></a></div>
      <div class="grid-item construction"><a href="/images/construction3.jpg" data-lightbox="construction3"><img src="/images/construction3_thumb.jpg" /></a></div>
      <div class="grid-item construction"><a href="/images/construction4.jpg" data-lightbox="construction4"><img src="/images/construction4_thumb.jpg" /></a></div>
      <div class="grid-item infra"><a href="/images/infra1.jpg" data-lightbox="infra1"><img src="/images/infra1_thumb.jpg" /></a></div>
      <div class="grid-item infra"><a href="/images/infra2.jpg" data-lightbox="infra2"><img src="/images/infra2_thumb.jpg" /></a></div>
      <div class="grid-item infra"><a href="/images/infra3.jpg" data-lightbox="infra3"><img src="/images/infra3_thumb.jpg" /></a></div>
      <div class="grid-item infra"><a href="/images/infra4.jpg" data-lightbox="infra4"><img src="/images/infra4_thumb.jpg" /></a></div>
      <div class="grid-item infra"><a href="/images/infra5.jpg" data-lightbox="infra5"><img src="/images/infra5_thumb.jpg" /></a></div>
      <div class="grid-item infra"><a href="/images/infra6.jpg" data-lightbox="infra6"><img src="/images/infra6_thumb.jpg" /></a></div>
    </div>

</div>

{{>footer}}
</template>
