<template name="gallery">
  <!--     *********    PROJECTS 3     *********      -->
  {{>nav}}

  <div class="projects-3 section-dark" id="projects-3">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h6 class="category text-muted">Our work</h6>
          <h2 class="title">Gallery</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-md-5 col-md-offset-1">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/frontpage1.jpg" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Construction Site Mapping</h6>
              <a href="#pablo">
                <h4 class="card-title">Lorem Ipsum</h4>
              </a>
              <p class="card-description">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image1.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Lorem Ipsum</h6>
              <a href="#pablo">
                <h4 class="card-title">Lorem Ipsum</h4>
              </a>
              <p class="card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image2.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Lorem Ipsum</h6>
              <a href="#pablo">
                <h4 class="card-title">Lorem Ipsum</h4>
              </a>
              <p class="card-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-5">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image4.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Website</h6>
              <a href="#pablo">
                <h4 class="card-title">Behance Redesign</h4>
              </a>
              <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image5.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Website</h6>
              <a href="#pablo">
                <h4 class="card-title">Behance Redesign</h4>
              </a>
              <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image6.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Website</h6>
              <a href="#pablo">
                <h4 class="card-title">Behance Redesign</h4>
              </a>
              <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image7.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Website</h6>
              <a href="#pablo">
                <h4 class="card-title">Behance Redesign</h4>
              </a>
              <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card card-plain">
            <a href="#pablo">
              <div class="card-image">
                <img src="/images/image8.JPG" />
              </div>
            </a>
            <div class="card-content">
              <h6 class="category">Website</h6>
              <a href="#pablo">
                <h4 class="card-title">Behance Redesign</h4>
              </a>
              <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
              </p>
            </div>
          </div>
        </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="card card-plain">
          <a href="#pablo">
            <div class="card-image">
              <img src="/images/image9.JPG" />
            </div>
          </a>
          <div class="card-content">
            <h6 class="category">Website</h6>
            <a href="#pablo">
              <h4 class="card-title">Behance Redesign</h4>
            </a>
            <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card card-plain">
          <a href="#pablo">
            <div class="card-image">
              <img src="/images/image10.JPG" />
            </div>
          </a>
          <div class="card-content">
            <h6 class="category">Website</h6>
            <a href="#pablo">
              <h4 class="card-title">Behance Redesign</h4>
            </a>
            <p class="card-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac imperdiet leo. Curabitur feugiat rutrum.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{{>footer}}
</template>
