<template name='infrastructure'>

  {{>nav}}
  {{>subnav}}
  <!-- <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; visibility: hidden; z-index: -100;">
      <div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/extensions/colorm/assets/images/046.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1438px; height: 942px; overflow: hidden; pointer-events: none; transition: transform 0s linear -1ms, -webkit-transform 0s linear -1ms; background-size: 1438px 958.66px; visibility: visible; transform: translate3d(0px, 39.06px, 0px);"></div>
    </div> -->
  <div id="stewardship" class="border--white border--2px border--b">
    <div class="span5 wow fadeIn no-mobile no-tablet"
      style="height: 100%;background: url(/images/windfarm.jpg) left center / cover no-repeat;visibility: visible;animation-name: fadeIn;">
      &nbsp;</div>
    <div class="span7 table wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <div class="table-cell pad80l padEdgeR">
        <h1 style="color: #007096 !important; padding-bottom: 30px;">A Better Perspective</h1>
        <h2>Infrastructure Inspection</h2>
        <div>
          <p style="font-size: 18px">
            Inspections performed with drones cost less and are far safer than inspections performed manually or with
            traditional manned aviation. Eliminate the risk of inspection-related injuries, and significantly reduce the
            cost of inspections at the same time.
          </p>
          <p style="font-size: 18px">
            You don't need to invest extensive capital to purchase your own drone in order to enjoy these benefits.
            ISight
            RPV Services has the right equipment and experts to take your inspections to the next level.
          </p>
          <p style="font-size: 18px">
            Our inspection services apply to a wide range of high-risk areas and facilities, such as: Oil and Gas
            Pipelines and ROW, Bridges, Wind Turbines and Communications Towers, Railroads and ROW
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div align='center'>
    <div class="row" style="margin: 0 !important">
      <div class="col-md-12 info-piece" style="background-color: #f3f3f4; padding-top: 20px; padding-bottom: 20px">
        <p style="font-weight: normal"> <img src="/images/logo.png" height="30" style="padding-right: 20px"
            alt="Blue/black aviator wings ISight logo" /><span class='no-mobile' style="padding-right: 20px">Ready to gain a better
            perspective</span><a class="btn btn-sm btn-white" href='/contactus' role='button'>Contact
            Us</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4" align="center">
        <h2>Watch us in action.</h2>
      </div>
    </div>
  </div>
  <div id="vid-holder" align="center">
    <video id="video-workflow" poster="/images/ag_1.jpg" class="video-fluid z-depth-1" height="500" preload controls
      muted>
      <source src="https://storage.googleapis.com/soccer-app-182411.appspot.com/promo.mp4" type="video/mp4" />
    </video>
  </div>

  {{>footer}}
</template>
