
<template name="main">
	{{>cookiebar}}
	<nav class="navbar navbar-transparent navbar-absolute ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home"><img src="/images/logo.png" style="width: 100px"></a>
				<a class="navbar-brand navbar-left" href="#home"><span style="color: #ffffff; font-size: 18px !important; font-weight: bold !important">ISIGHT </span><span id="span2">| </span><span id="span3" style="color: #ffffff">RPV Services</span></a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example">
				<ul class="nav navbar-nav navbar-center">
					<li>
						<a id="homepage" href="/services">
							Services
						</a>
					</li>
					<li>
						<a id="homepage" href="/team">
							Team
						</a>
					</li>
					<li>
						<a id="homepage" href="/gallery">
							Gallery
						</a>
					</li>
					<li>
						<a id="homepage" href="/contactus">
							Contact Us
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="homepage" href="https://twitter.com/isightrpv">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.facebook.com/isightrpv">
							<i class="fa fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.youtube.com/channel/UCL7VnI_Ya5NEHnf16IUI1Gg">
							<i class="fa fa-youtube"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Carousel
	================================================== -->

			<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
				
				

				<!-- Indicators -->
				<div class="header-footer">
					<div class="col-md-12">
						<p class="pull-left" style="color: #fff; font-weight: bold; padding-top: 10px">Watch our promotional video</p>
						<a href="https://www.youtube.com/watch?v=8yZcnX-8gjo" class="btn btn-info btn-sm pull-right" target="_blank">
							Play Video
						</a>
					</div>
				</div>
				<!-- <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>

			</ol> -->
			<div class="carousel-inner page-header" role="listbox">
				<div class="item active">
					<img class="first-slide header-filter" src="/images/main.jpg" alt="First slide">
					<div class="container">
						<div class="carousel-caption animated fadeIn">
							<h1>Professional UAV Operations</h1>
							<p id="description">SAFETY. INTEGRITY. EXCELLENCE.</p>
							<p><a class="btn btn-lg btn-danger" href="/services" role="button">Learn more</a></p>
						</div>
						<!-- <div class="col-md-5 col-md-offset-1">

						<div class="iframe-container">

						<iframe width="560" height="315" src="https://www.youtube.com/embed/8yZcnX-8gjo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen controls="1"></iframe>
					</div>
				</div> -->
			</div>
		</div>
		<div class="item">
			<img class="second-slide" src="/images/ag_1.jpg" alt="Second slide">
			<div class="container">
				<div class="carousel-caption animated fadeIn">
					<h1>Precision Agriculture</h1>
					<p id="description">UAS offer many benefits in the agriculture industry. Enhance your variable rate application program by collecting vegetation index data more frequently and less expensively. UAS can also benefit in determining soil moisture content and assessing crop damage after sever storms. ISight RPV Services has extensive experience delivering results in the agriculture industry.								</p>
					<p><a class="btn btn-lg btn-danger" href="/services" role="button">Learn more</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="third-slide" src="/images/windfarm.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption animated fadeIn">
					<h1>Infrastructure Inspection</h1>
					<p id="description">
						• Oil and Gas Pipelines and ROW • Bridges • Wind Turbines and Communications Towers • Railroads and ROW
					</p>
					<p><a class="btn btn-lg btn-danger" href="/services" role="button">Learn More</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="fourth-slide" src="/images/construction_site.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption animated fadeIn">
					<h1>Construction Site Mapping</h1>
					<p id="description">UAS provide a fast, efficient means for producing periodic maps of construction sites. Take advantage of the low cost to produce maps at more frequent intervals throughout the project. ISight RPV Services can deliver A Better Perspective before, during, and after your construction project.</p>
					<p><a class="btn btn-lg btn-danger" href="/services" role="button">Learn More</a></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<i class="material-icons">keyboard_arrow_left</i>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

		<i class="material-icons">keyboard_arrow_right</i>
	</a>
</div><!-- /.carousel -->

<div id="metrics" style="background-color: #2196F3">
	<div class="row" style="margin-right: 0px; margin-left: 0px">
		<div class="col-sm-2">
			<div class="info text-center">
				<div class="icon">
					<img class="metrics" src="/images/wind.png" height="40"/>
				</div>
				<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="5000" data-delay="5" data-increment="5">5000</span> </h4>
				<p id="white">wind turbines inspected</p>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="info text-center">
				<div class="icon">
					<img class="metrics" src="/images/drone.png" height="40"/>
				</div>
				<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="8200" data-delay="5" data-increment="10">8200</span> </h4>
				<p id="white">sorties flown</p>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="info text-center">
				<div class="icon">
					<img class="metrics" src="/images/pipe.png" height="40"/>
				</div>
				<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="175" data-delay="10" data-increment="5">175</span> </h4>
				<p id="white">miles of oil pipeline inspected</p>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="info text-center">
				<div class="icon">
					<img class="metrics" src="/images/farm1.png" height="40"/>
				</div>
				<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="80000" data-delay="5" data-increment="100">80,000</span> </h4>
				<p id="white">acres of precision agriculture flown</p>
			</div>
		</div>


		<div class="col-sm-2">
			<div class="info text-center">
				<div class="icon">
					<img class="metrics" src="/images/state.png" height="40" />
				</div>
				<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="20" data-delay="5" data-increment="1">20</span> </h4>
				<p id="white">states where flights have been flown</p>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="info text-center" style="padding-right: 10px">
				<div class="icon">
					<img class="metrics" src="/images/pilot.png" height="40" />
				</div>
				<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="12" data-delay="5" data-increment="1">12</span> </h4>
				<p id="white">Commercially, Licensed, 107 Certified Pilots</p>
			</div>
		</div>

	</div>
</div>
{{>footer}}

</template>
