<template name="main">
	<!-- {{>cookiebar}} -->
	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home"><img src="/images/logo.png" style="width: 110px"
						alt="Blue/Black Aviator Wings ISight Logo" /></a>
				<a class="navbar-brand navbar-left" href="#home"><span
						style="color: #ffffff; font-size: 18px !important; font-weight: bold !important">ISIGHT
					</span><span id="span2">| </span><span id="span3" style="color: #ffffff">RPV Services</span></a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example navbar-collapse-grid">
				<ul class="nav navbar-nav navbar-center">
					<li class="dropdown mega-dropdown no-mobile">
						<a id="homepage" data-toggle="dropdown" class="dropdown-toggle" role="button"
							href="/services/agriculture">
							Services
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu mega-dropdown-menu no-mobile">
							<div class="padding-div">
								<li class="container" style="padding-bottom: 60px">
									<div class="full col-md-12">
										<div class="row">
											<div class="col-md-3 br">
												<a id="menu-item" href="/services/construction" class="tab-link">
													<h4 style="color: #fff">Construction Site Mapping</h4>
													<img class="no-mobile img img-rounded img-raised"
														src="/images/construction.jpg" width="150" height="150"
														alt="Aerial view of construction site" />
												</a>
											</div>
											<div class="col-md-3 br">
												<a id="menu-item" href="/services/agriculture">
													<h4 style="color: #fff">Precision Agriculture</h4>
													<img class="no-mobile img img-raised img-rounded"
														src="/images/ag1.jpg" width="150" height="150"
														alt="Red/Green Vegetation index" />
												</a>
											</div>
											<div class="col-md-3 br"
												style="border-right-style: solid; border-right-width: 1px; border-right-color: rgba(255,255,255,.5)">
												<a id="menu-item" href="/services/infrastructure">
													<h4 style="color: #fff">Infrastructure Inspection</h4>
													<img class="no-mobile img img-raised img-rounded"
														src="/images/infrastructure1.jpg" width="150" height="150"
														alt="Wind turbine rotor">
												</a>
											</div>
											<div class="col-md-3 br">
												<h4 style="color: #fff">Online UAV Training</h4>
												<img class="no-mobile" src="/images/uai.png" height="50" alt="UAI logo">
												<p style="padding: 50px"><a class="btn btn-sm btn-danger"
														href="https://uai-online.thinkific.com/" target="_blank"
														role="button">Learn more</a></p>
											</div>

										</div>
									</div>
								</li>
							</div>
						</ul>
					</li>
					<li class="mobile-only" style="display: none">

						<a href="" data-toggle="collapse" data-target="#btn-accord-info">
							Services
							<i class="material-icons all up md-48"
								style="color: #54585a !important; float: right; font-size: 32px !important">
								apps
							</i>
						</a>
						<div class="collapse container" id="btn-accord-info">
							<div class="col-md-12" style="padding-bottom: 20px">
								<div class="col-md-3">
									<a id="homepage" href="/services/agriculture">
										<div class="figure">
											<!-- line 83 for 1983, Happy Birthday Adam! -->
											<!-- 1983 a merman I came to be	 -->
											<i class="material-icons md-48"
												style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">gps_fixed</i>
											<span>Precision Agriculture</span>
										</div>
									</a>
								</div>
								<div class="col-md-3">
									<a id="homepage" href="/services/construction">
										<div class="figure">
											<i class="material-icons md-48"
												style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">build</i>
											<span>Construction Site Mapping</span>
										</div>
									</a>
								</div>
								<div class="col-md-3">
									<a id="homepage" href="/services/infrastructure">
										<div class="figure">
											<i class="material-icons md-48"
												style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">location_city</i>
											<span>Infrastructure Inspection</span>
										</div>
									</a>
								</div>
								<div class="col-md-3">
									<a href="https://uai-online.thinkific.com/">
										<div class="figure">
											<i class="material-icons md-48"
												style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">local_library</i>
											<span>Online UAV Training</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a id="homepage" href="/team">
							Team
						</a>
					</li>
					<li>
						<a id="homepage" href="/gallery">
							Gallery
						</a>
					</li>
					<li>
						<a id="homepage" href="/contactus">
							Contact Us
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="homepage" href="https://twitter.com/isightrpv" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.facebook.com/isightrpv" target="_blank">
							<i class="fa fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.youtube.com/channel/ucl7vni_ya5nehnf16iui1gg"
							target="_blank">
							<i class="fa fa-youtube"></i>
						</a>
					</li>
						<li>
						<a id="homepage" href="https://www.linkedin.com/company/isight-rpv/"
							target="_blank">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- Carousel
	================================================== -->

	<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">


		<!-- Indicators -->
		<div class="header-footer">
			<div class="container">
				<div class="col-md-12">
					<p class="pull-left" style="color: #fff; font-weight: bold; padding-top: 10px">Request Our Services</p>
					<a href="https://isightrpv.com/contactus" class="btn btn-info btn-sm pull-right"
						target="_blank">
						Contact Us
					</a>
				</div>
			</div>
		</div>
		<!-- <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>

      </ol> -->


		<div class="carousel-inner page-header" role="listbox">
			<div class="item active">
				<img class="first-slide header-filter" src="/images/frontpage1.jpg"
					alt="Quadcopter drone flying at sunset" />
				<div class="container">
					<div class="animated fadeIn" align="left">
						<h1>Professional Drone Operations</h1>
						<p id="description">A BETTER PERSPECTIVE</p>
						<p><a class="btn btn-lg btn-white" href="/services/agriculture" role="button">Learn more</a></p>
					</div>

				</div>
			</div>
		</div>
	</div><!-- /.carousel -->

	<div style="background-color: #2196F3">
		<div class="container">
			<div id="metrics">
				<div class="row" style="margin-right: 0px; margin-left: 0px">
					<div class="col-sm-3">
						<div class="info text-center">
							<div class="icon">
								<img class="metrics" src="/images/wind.png" height="40" alt="Wind turbine icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="14000"
									data-delay="5" data-increment="10">14,000</span>
							</h4>
							<p id="white">wind turbines inspected</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="info text-center">
							<div class="icon">
								<img class="metrics" src="/images/drone.png" height="40" alt="Quadcopter drone icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="74000"
									data-delay="5" data-increment="100">74,000</span>
							</h4>
							<p id="white">sorties flown</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="info text-center">
							<div class="icon">
								<img class="metrics" src="/images/pipe.png" height="40"
									alt="Pipeline cross section icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="175"
									data-delay="10" data-increment="5">175</span>
							</h4>
							<p id="white">miles of oil pipeline inspected</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="info text-center">
							<div class="icon">
								<img class="metrics" src="/images/farm1.png" height="40" alt="Farm field icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="87000"
									data-delay="5" data-increment="100">87,000</span>
							</h4>
							<p id="white">acres of precision agriculture flown</p>
						</div>
					</div>


					<div class="col-sm-3">
						<div class="info text-center">
							<div class="icon">
								<img class="metrics" src="/images/state.png" height="40"
									alt="North Dakota state outline" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="35"
									data-delay="5" data-increment="1">35</span>
							</h4>
							<p id="white">states where flights have been flown</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="info text-center" style="padding-right: 10px">
							<div class="icon">
								<img class="metrics" src="/images/power_line.png" height="40" alt="Power line icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="40"
									data-delay="5" data-increment="1">40</span>
							</h4>
							<p id="white">miles of powerline flown</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="info text-center" style="padding-right: 10px">
							<div class="icon">
								<img class="metrics" src="/images/plane.png" height="40"
									alt="Cropduster airplane icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="1150"
									data-delay="5" data-increment="3">1,150</span>
							</h4>
							<p id="white">hours of chase support for UAS activities</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="info text-center" style="padding-right: 10px">
							<div class="icon">
								<img class="metrics" src="/images/pilot.png" height="40" alt="Pilot head icon" />
							</div>
							<h4 class="info-title"><span id="white" class="numscroller" data-min='1' data-max="12"
									data-delay="5" data-increment="1">12</span>
							</h4>
							<p id="white">commercially licensed, 107 certified pilots</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	{{>footer}}
</template>