<template name="nav">
	{{>cookiebar}}
	<nav class="navbar navbar-primary ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar" style="color: #337ab7"></span>
					<span class="icon-bar" style="color: #337ab7"></span>
					<span class="icon-bar" style="color: #337ab7"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/logo.png" style="width: 100px" alt="Blue/black aviator wings ISight logo" /></a>
				<a class="navbar-brand navbar-left" href="/"><span style="font-weight:bold">ISIGHT</span><span id="brand"> | RPV
						Services</span></a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example navbar-collapse-grid">
				<ul class="nav navbar-nav navbar-center">
					<li class="dropdown mega-dropdown no-mobile">
						<a id="" data-toggle="dropdown" class="dropdown-toggle" role="button" href="/services" style="color: #54585a !important">
							Services
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu mega-dropdown-menu no-mobile">
							<div class="padding-div">
								<li class="container" style="padding-bottom: 60px">
									<div class="full col-md-12">
										<div class="row">
											<div class="col-md-3 br">
												<a id="menu-item" href="/services/construction" class="tab-link">
													<h4 style="color: #fff">Construction Site Mapping</h4>
													<img src="/images/construction.jpg" width="150" height="150" alt="Aerial view of construction site" />
												</a>
											</div>
											<div class="col-md-3 br">
												<a id="menu-item" href="/services/agriculture">
													<h4 style="color: #fff">Precision Agriculture</h4>
													<img src="/images/ag1.jpg" width="150" height="150" alt="Aerial photo displaying Vegetation index data using Red/Green filter" />
												</a>
											</div>
											<div class="col-md-3 br" style="border-right-style: solid; border-right-width: 1px; border-right-color: rgba(255,255,255,.5)">
												<a id="menu-item" href="/services/infrastructure">
													<h4 style="color: #fff">Infrastructure Inspection</h4>
													<img src="/images/infrastructure1.jpg" width="150" height="150" alt="Wind turbine rotor" />
												</a>
											</div>
											<div class="col-md-3 br">
												<h4 style="color: #fff">Online UAV Training</h4>
												<img src="/images/uai.png" height="50" alt="UAI logo" />
												<p style="padding: 50px"><a class="btn btn-sm btn-danger" href="https://uai-online.thinkific.com/" target="_blank"
													 role="button">Learn more</a></p>
											</div>

										</div>
									</div>
								</li>
							</div>
						</ul>
					</li>
					<li class="mobile-only" style="display: none">

						<a href="" data-toggle="collapse" data-target="#btn-accord-info">
							Services
							<i class="material-icons all up md-48" style="color: #54585a !important; float: right; font-size: 32px !important">
								apps
							</i>
						</a>
						<div class="collapse container" id="btn-accord-info">
							<div class="col-md-12" style="padding-bottom: 20px">
								<div class="col-md-3">
									<a id="homepage" href="/services/agriculture">
										<div class="figure">
											<i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">gps_fixed</i>
											<span>Precision Agriculture</span>
										</div>
									</a>
								</div>
								<div class="col-md-3">
									<a id="homepage" href="/services/construction">
										<div class="figure">
											<i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">build</i>
											<span>Construction Site Mapping</span>
										</div>
									</a>
								</div>
								<div class="col-md-3">
									<a id="homepage" href="/services/infrastructure">
										<div class="figure">
											<i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">location_city</i>
											<span>Infrastructure Inspection</span>
										</div>
									</a>
								</div>
								<div class="col-md-3">
									<a href="https://uai-online.thinkific.com/">
										<div class="figure">
											<i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">local_library</i>
											<span>Online UAV Training</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>


					<li>
						<a id="homepage" href="/team" style="color: #54585a !important">
							Team
						</a>
					</li>
					<li>
						<a id="homepage" href="/gallery" style="color: #54585a !important">
							Gallery
						</a>
					</li>
					<li>
						<a id="homepage" href="/contactus" style="color: #54585a !important">
							Contact Us
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="homepage" href="https://twitter.com/isightrpv" target="_blank">
							<i class="fa fa-twitter blue" style="color: #007096"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.facebook.com/isightrpv" target="_blank">
							<i class="fa fa-facebook-square" style="color: #007096"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.youtube.com/channel/UCL7VnI_Ya5NEHnf16IUI1Gg" target="_blank">
							<i class="fa fa-youtube" style="color: #007096"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>
