<template name="nav">
	{{>cookiebar}}
	<nav class="navbar navbar-primary ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar" style="color: #337ab7"></span>
					<span class="icon-bar" style="color: #337ab7"></span>
					<span class="icon-bar" style="color: #337ab7"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/ISight_Drone_Logo_2020-500x264.png" alt="Blue/Black Aviator Wings ISight Logo" style="max-width:300px;margin-top: -55px;" /></a>				
			</div>

			<div class="collapse navbar-collapse" id="navigation-example navbar-collapse-grid">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a id="homepage" href="/services" style="color: #54585a !important">
                            Services
                        </a>
                    </li>

                    <li>
                        <a id="homepage" href="/team" style="color: #54585a !important">
                            Team
                        </a>
                    </li>                   
                    <li>
                        <a id="homepage" href="/contactus" style="color: #54585a !important">
                            Contact Us
                        </a>
                    </li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="homepage" href="https://twitter.com/isightrpv" target="_blank">
							<i class="fa fa-twitter blue" style="color: #007096"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.facebook.com/isightrpv" target="_blank">
							<i class="fa fa-facebook-square" style="color: #007096"></i>
						</a>
					</li>
					<li>
						<a id="homepage" href="https://www.youtube.com/channel/ucl7vni_ya5nehnf16iui1gg" target="_blank">
							<i class="fa fa-youtube" style="color: #007096"></i>
						</a>
					</li>
						<li>
						<a id="homepage" href="https://www.linkedin.com/company/isight-rpv/" target="_blank">
							<i class="fa fa-linkedin" style="color: #007096"></i>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
</template>
