<template name="services">

  {{>nav}}
  <section>
    <div id='ag' class="bkg-grad">
      <div class="container col-md-12">
        <div class="row">
          <div class="col-md-6">1</div>
          <div class="col-md-3 col-md-offset-2" align='left'>
            <h1 align='center'>Precision Agriculture</h1>
            <p>UAS offer many benefits in the agriculture industry. Enhance your variable rate application program by
              collecting vegetation index data more frequently and less expensively. UAS can also benefit in
              determining soil moisture content and assessing crop damage after sever storms. ISight RPV Services has
              extensive experience delivering results in the agriculture industry. </p>
          </div>
        </div>
      </div>
    </div>
    <div  align='center'>
      <div class="row grey">
        <img src="images/logo.png" height="14" alt="logo"> Gain a Better Perspective with ISIGHT RPV. <button>Contact
          Us</button>
      </div>
    </div>
    <div>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4" align="center">
              <h2>Precise. Fast.</h2>
              <p>lorem ipsem lorem ipsem dolor ipsem lorem</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id='ag' class="bkg-grad">
      <div class="container col-md-12">
        <div class="row">
          <div class="col-md-3 offset-md-3">
            <h1>Construction Site Mapping</h1>
            <p>
              Inspections performed with UAS cost less and are far safer than inspections performed manually or with
              traditional manned aviation. Eliminate the risk of inspection-related injuries, and significantly reduce
              the cost of inspections at the same time. You don't need to invest extensive capital to purchase your own
              UAS in order to enjoy these benefits. ISight RPV Services has the right equipment and experts to take
              your inspections to the next level. Our inspection services apply to a wide range of high-risk areas and
              facilities, such as: • Oil and Gas Pipelines and ROW • Bridges • Wind Turbines and Communications Towers
              • Railroads and ROW
            </p>

          </div>
          <div class="col-md-6">1</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id='ag' class="bkg-grad">
      <div class="container col-md-12">
        <div class="row">
          <div class="col-md-6">1</div>
          <div class="col-md-3 offset-md-3">
            <h1>Infrastructure Inspection</h1>
            <p>UAS provide a fast, efficient means for producing periodic maps of construction sites. Take advantage of
              the low cost to produce maps at more frequent intervals throughout the project. ISight RPV Services can
              deliver A Better Perspective before, during, and after your construction project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</template>