<template name='services'>

  {{>nav}}
  <section class="bgimage2">
    <!-- <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; visibility: hidden; z-index: -100;">
      <div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/extensions/colorm/assets/images/046.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1438px; height: 942px; overflow: hidden; pointer-events: none; transition: transform 0s linear -1ms, -webkit-transform 0s linear -1ms; background-size: 1438px 958.66px; visibility: visible; transform: translate3d(0px, 39.06px, 0px);"></div>
    </div> -->
    <div class='page-header'>
      <div class="overlay" style="opacity: 0.6; background-color: rgb(52, 73, 94);"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-xs-left" style="z-index: 2">
            <div class="tab-content noScroll">
              <div id="tabheader1" class="tab-pane wow slideInLeft active" role="tablist" aria-expanded="true">
                <h1 style="color: white !important; font-weight: bold !important; padding-bottom: 80px" align='left'>Precision
                  <br> Agriculture</h1>
                <div class="col-xs-1 mbr-table-cell table-cell-top" style='z-index: 1'>
                  <div class="figure">
                    <i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; background: black; padding:  20px; border-radius: 50% ">gps_fixed</i>
                  </div>
                </div>
                <div class="col-xs-11 table-cell">
                  <p style="text-transform: uppercase; font-weight: bold">Precise. Fast.</p>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="font-weight:400">
                        UAS offer many benefits in the agriculture industry. Enhance your
                        variable
                        rate application program by
                        collecting vegetation index data more frequently and less expensively. UAS can also benefit
                        in
                        determining soil moisture content and assessing crop damage after sever storms. ISight RPV
                        Services has
                        extensive experience delivering results in the agriculture industry.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabheader2" class="tab-pane wow slideInLeft" role="tablist" aria-expanded="true">

                <h1 style="color: white !important; font-weight: bold !important; padding-bottom: 80px;" align='left'>Construction
                  <br>Site Mapping</h1>
                <div class="col-xs-1 table-cell table-cell-top">
                  <div class="figure">
                    <i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; background: black; padding:  20px; border-radius: 50% ">build</i>
                  </div>
                </div>
                <div class="col-xs-11 table-cell">
                  <p style="text-transform: uppercase; font-weight: bold">Cost Effective. Safe</p>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="font-weight:400">
                        UAS provide a fast, efficient means for producing periodic maps of construction sites. Take
                        advantage
                        of
                        the low cost to produce maps at more frequent intervals throughout the project. ISight RPV
                        Services can
                        deliver A Better Perspective before, during, and after your construction project.

                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabheader3" class="tab-pane wow slideInLeft" role='tablist' aria-expanded="true">

                <h1 style="color: white !important; font-weight: bold !important; padding-bottom: 80px" align='left'>Infrastructure
                  <br>Inspection</h1>
                <div class="col-xs-1 table-cell table-cell-top">
                  <div class="figure">
                    <i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; background: black; padding:  20px; border-radius: 50% ">location_city</i>
                  </div>
                </div>
                <div class="col-xs-11 table-cell">
                  <p style="text-transform: uppercase; font-weight: bold">A Better Perspective</p>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="font-weight:400">
                        Inspections performed with UAS cost less and are far safer than inspections performed manually
                        or
                        with
                        traditional manned aviation. Eliminate the risk of inspection-related injuries, and
                        significantly
                        reduce
                        the cost of inspections at the same time. You don't need to invest extensive capital to
                        purchase
                        your
                        own
                        UAS in order to enjoy these benefits. ISight RPV Services has the right equipment and experts
                        to
                        take
                        your inspections to the next level. Our inspection services apply to a wide range of high-risk
                        areas
                        and
                        facilities, such as: • Oil and Gas Pipelines and ROW • Bridges • Wind Turbines and
                        Communications
                        Towers
                        • Railroads and ROW

                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabheader4" class="tab-pane wow slideInLeft" role='tablist' aria-expanded="true">

                <h1 style="color: white !important; font-weight: bold !important; padding-bottom: 80px" align='left'>Online
                  <br>UAV Training</h1>
                <div class="col-xs-1 table-cell table-cell-top">
                  <div class="figure">
                    <i class="material-icons md-48" style="color: #007096 !important; font-size: 48px; background: black; padding:  20px; border-radius: 50% ">local_library</i>
                  </div>
                </div>
                <div class="col-xs-11 table-cell">
                  <p style="text-transform: uppercase; font-weight: bold">Online UAV Training</p>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="font-weight:400">
                        UAS offer many benefits in the agriculture industry. Enhance your
                        variable
                        rate application program by
                        collecting vegetation index data more frequently and less expensively. UAS can also benefit
                        in
                        determining soil moisture content and assessing crop damage after sever storms. ISight RPV
                        Services has
                        extensive experience delivering results in the agriculture industry.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" style="position: absolute; bottom: 20px; width: 100%; z-index: 2;">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active" style="display: inline-block">
              <a id="_agriculture" href="#tabheader1" role="tab" data-toggle="tab" class="nav-link active tab" aria-expanded="true">
                AGRICULTURE
              </a>
            </li>
            <li class="nav-item" style="display: inline-block">
              <a id="_construction" href="#tabheader2" role="tab" data-toggle="tab" class="nav-link tab">
                CONSTRUCTION
              </a>
            </li>
            <li class="nav-item" style="display: inline-block">
              <a id="_infrastructure" href="#tabheader3" role="tab" data-toggle="tab" class="nav-link tab">
                INFRASTRUCTURE
              </a>
            </li>
            <li class="nav-item" style="display: inline-block">
              <a id="_training" href="#tabheader4" role="tab" data-toggle="tab" class="nav-link tab">
                ONLINE TRAINING
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <div class="wrapper" align='center'>
        <div class="row" style="margin: 0 !important">
          <div class="col-md-12 info-piece" style="background-color: #f3f3f4; padding-top: 20px; padding-bottom: 20px">
            <p style="font-weight: normal"> <img src="images/logo.png" height="30" style="padding-right: 20px" alt="logo"><span
                style="padding-right: 20px">Ready to gain a better
                perspective</span><button class="btn btn-sm btn-white">Contact
                Us</button></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4" align="center">
            <h2>Watch us in action.</h2>
          </div>
        </div>
      </div>
      <div id="vid-holder" align="center">
        <video id="video-workflow" poster="/images/ag_1.jpg" class="video-fluid z-depth-1" height="500" preload
          controls muted>
          <source src="/images/isight.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </section>

  {{>footer}}
</template>