<template name="subnav">
    <style>
        .col-md-3 {
            text-align: center;
        }
    </style>
    <!-- subnav here -->
    <div class="navbar subnav navbar-fixed-top" role="navigation" style="padding-bottom: 0px !important">
        <div class="navbar-inner">
            <div class="container">
                <ul class="pager subnav-pager">
                    <div class="btn-group-wrap">
                        <h4
                            style="float: left; color:#007096; font-weight: bold; letter-spacing: .03rem; margin: 0px !important">
                            Services</h4>
                        <div style="float: right; display: inline-flex; align-items: center">

                            <span
                                style="display: block; color: #54585a !important; text-transform: uppercase; font-size: 1.24rem; font-weight: bold">All
                                Services</span>
                            <a href="">
                                <i class="material-icons all up md-48" data-toggle="collapse" data-target="#accord-info"
                                    style="color: #54585a !important; float: right; font-size: 32px !important">
                                    apps
                                </i>
                            </a>
                        </div>
                    </div>

                </ul>
            </div>
            <div class="collapse container" id="accord-info">
                <div class="col-md-12" style="padding-bottom: 20px">
                    <div class="col-md-3">
                        <a href="/services/#utilities">
                            <div class="figure">
                                <i class="material-icons md-48"
                                    style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">electrical_services</i>
                                <span>Utilities & Energy</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/services/#construction">
                            <div class="figure">
                                <i class="material-icons md-48"
                                    style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">build</i>
                                <span>Construction & Engineering</span>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-3">
                        <a href="/services/#agriculture">
                            <div class="figure">
                                <i class="material-icons md-48"
                                    style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">gps_fixed</i>
                                <span>Precision Agriculture</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/services/#additional">
                            <div class="figure">
                                <i class="material-icons md-48"
                                    style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">read_more</i>
                                <span>Additional Services</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="https://uai-online.thinkific.com/">
                            <div class="figure">
                                <i class="material-icons md-48"
                                    style="color: #007096 !important; font-size: 48px; padding:  20px; border-radius: 50% ">local_library</i>
                                <span>Online UAV Training</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>