<template name="team">
  {{>nav}}
  <!--     *********    TEAM 5     *********      -->


  <div id="team" class="container">

    <div class="row" style="margin-top: 30px">

      <div class="card card-profile card-plain" id="tom">
        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/tom.png" alt="Staff photo of Tommy Kenville"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Tommy Kenville</h4>
            <h6 class="category text-muted" style="text-align: left">CEO/Rainmaker</h6>

            <p class="card-description" style="text-align: left">
              Tommy Kenville has over 25 years in aviation related experience, including 15 years at the University of
              North Dakota Aerospace
              Foundation and founding the Unmanned Applications Institute (the first Institute for research, testing
              and consulting in the emerging unmanned aerial vehicle industry in North Dakota, founded in 2010) prior to
              merging
              with ISight.
            </p>

          </div>
        </div>
      </div>

      <div class='col-md-9 col-md-offset-1'>
        <hr>
      </div>

      <div class="card card-profile card-plain" id="adam">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/adam.jpg" alt="Staff photo of Adam Lingwall"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Adam Lingwall</h4>
            <h6 class="category text-muted" style="text-align: left">CFO</h6>

            <p class="card-description" style="text-align: left">
              Adam has a background in product development in the energy and agriculture industries. With a degree in
              Aerospace Engineering
              and an MBA, Adam brings unique experience to the ISight management team.

            </p>

          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="nathan">
        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/nathan.jpg" alt="Staff photo of Nate Leben"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Nate Leben</h4>
            <h6 class="category text-muted" style="text-align: left">VP of Flight Operations</h6>

            <p class="card-description" style="text-align: left">
              Nathan Leben, a University of North Dakota commercial aviation graduate, has been in the aviation
              industry for over 15 years
              with more than 8 years specifically pertaining to UAS. Nathan's exceptional UAS expertise is a core
              strength
              of the ISight management team.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="doug">
        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/doug.jpg" alt="Staff photo of Doug McDonald"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Doug McDonald</h4>
            <h6 class="category text-muted" style="text-align: left">Flight Operations Manager</h6>
            <p class="card-description" style="text-align: left">
              Doug McDonald has more than 30 years of applied research, planning and development experience focusing on
              strategic development,
              unmanned systems and technology. Doug has undergraduate and graduate degrees from the University of North
              Dakota.
              Doug’s experience includes assignments in unmanned systems, aerospace, remote sensing, value-added
              agriculture
              and information technology.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="adamo">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/adamo.jpg" alt="Staff photo of Adam Overvold"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Adam Overvold</h4>
            <h6 class="category text-muted" style="text-align: left">Chief Pilot</h6>

            <p class="card-description" style="text-align: left">
              Adam Overvold is a University of North Dakota commercial aviation and Unmanned Aerial Systems graduate.
              He has piloted in command
              experience in several fixed wing and vtol UAS systems and maintains the highest level of professionalism
              in
              flight operations.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="ryan">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/ryanm.jpg" alt="Staff photo of Ryan Moriearty"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Ryan Moriearty</h4>
            <h6 class="category text-muted" style="text-align: left">Assistant Chief Pilot</h6>

            <p class="card-description" style="text-align: left">
              Ryan Moriearty is a University of North Dakota graduate with degrees in Unmanned Aerial Systems
              Operations and Aviation
              Management. He has broad knowledge and experience with both manned and unmanned aircraft operations.
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>

      <div class="card card-profile card-plain" id="joe">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/joe.jpg" alt="Staff photo of Joey Schmit"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Joey Schmit</h4>
            <h6 class="category text-muted" style="text-align: left">Fargo Site Manager</h6>

            <p class="card-description" style="text-align: left">
              Joey Schmit has been building, flying and utilizing UAS technology and sensors since 2012. He is well-established in flight services, aerial data collection, data processing and is a certified sUAS thermographer. Joey has a background in education and is constantly seeking new knowledge and skills.
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>

      <div class="card card-profile card-plain" id="mike">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/mike.jpg" alt="Staff photo of Mike Link"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Mike Link</h4>
            <h6 class="category text-muted" style="text-align: left">Project Manager</h6>

            <p class="card-description" style="text-align: left">
              Mike Link is a commericial pilot and University of North Dakota graduate with a Bachelors of Science of
              Unmanned
              Aerial Systems where
              he focused on UAS Systems and UAS operations. Mike’s experience includes aerial weather modification,
              cloud
              seeding and hail reduction. Mike brings hands-on experience in manned and unmanned aircraft operations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>

      <div class="card card-profile card-plain" id="blake">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/blake.jpg" alt="Staff photo of Blake Prozinski"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Blake Prozinski</h4>
            <h6 class="category text-muted" style="text-align: left">Director of Safety</h6>

            <p class="card-description" style="text-align: left">
              Blake Prozinski is a University of North Dakota graduate with a degree in Unmanned Aircraft Operations.
              Blake specializes
              in airport operations and has participated in USDA APHIS Wildlife Services training.
            </p>
          </div>
        </div>
      </div>



      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="russ">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/russ.jpg" alt="Staff photo of Russ Nelson"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Russ Nelson</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Russ Nelson is a University of North Dakota unmanned aircraft systems graduate and an instrument rated
              certified flight instructor.
              He has a broad knowledge of both manned and unmanned aviation as well as atmospheric science. Russ has a
              background
              in agriculture and experience in several manned and unmanned aircraft.
            </p>
          </div>
        </div>
      </div>





      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="jake">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/jake.jpg" alt="Staff photo of Jake Brosman"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Jake Brosman</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Jake Brosman is a commercial & certified flight instructor rated pilot from St.Louis, MO. He is a
              University of North Dakota graduate with a Bachelors of Science in Unmanned Aircraft Systems. He has a
              broad knowledge of manned and unmanned aeronautics, and started flying aircraft at 15. Jake has a passion
              to find innovative solutions using UAS to get jobs done.
            </p>
          </div>
        </div>


      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr />
      </div>

    </div>

    <div class="card card-profile card-plain" id="zach">

      <div class="col-md-3 col-md-offset-1">
        <div class="card-image">
          <a href="#zach">
            <img class="img" src="/images/zachD.jpg" alt="Staff photo of Zach Daly"
              style="height: 200px !important; width: 200px !important" />
          </a>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card-content">
          <h4 class="card-title" id="span1" style="text-align: left">Zach Daly</h4>
          <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

          <p class="card-description" style="text-align: left">
            Zachary Daly is a commercially rated pilot from Delano, MN. He is a University of North Dakota graduate with
            a major in Unmanned Aircraft Systems.
            Zach has been building, flying, and modifying remotely piloted vehicles since the age of 13. His passion for
            aviation has encouraged him to develop a mentality for life-long learning and personal growth.
          </p>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>


      <div class="card card-profile card-plain" id="jacksonF">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#jacksonF">
              <img class="img" src="/images/jacksonF.jpg" alt="Staff photo of Jackson Frankenhoff"
                style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Jackson Frankenhoff</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Jackson Frankenhoff is a commercial pilot from Luverne, MN. He is a University of North Dakota graduate
              with
              a major in Unmanned Aircraft Systems and a Specialization in safety.
              He is always looking for new ways to utilize UAS where they haven't been used before.


            </p>
          </div>
        </div>


        <div class="col-md-9 col-md-offset-1">
          <hr>
        </div>

        <div class="card card-profile card-plain" id="joe">

          <div class="col-md-3 col-md-offset-1">
            <div class="card-image">
              <a href="#joe">
                <img class="img" src="/images/joeschafer.jpg" alt="Staff photo of Joe Schoepfer"
                  style="height: 200px !important; width: 200px !important" />
              </a>
            </div>
          </div>


          <div class="col-md-6">
            <div class="card-content">
              <h4 class="card-title" id="span1" style="text-align: left">Joe Schoepfer</h4>
              <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

              <p class="card-description" style="text-align: left">
                Joe Schoepfer is a commercially rated pilot from Sioux City, IA. He is a University of North Dakota
                graduate with a major in Unmanned Aircraft Systems. He has always had a great interest in aviation and
                first piloted a plane at the age of 16. He is always looking for new ways to integrate UAS into everyday
                life.
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-9 col-md-offset-1">

          <hr>
        </div>

        <div class="card card-profile card-plain" id="kyle">

          <div class="col-md-3 col-md-offset-1">
            <div class="card-image">
              <a href="#kyle">
                <img class="img" src="/images/kyle.jpg" alt="Staff photo of Kyle Bloomquist"
                  style="height: 200px !important; width: 200px !important" />
              </a>
            </div>
          </div>


          <div class="col-md-6">
            <div class="card-content">
              <h4 class="card-title" id="span1" style="text-align: left">Kyle Bloomquist</h4>
              <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

              <p class="card-description" style="text-align: left">
                Kyle Bloomquist is a Private Pilot from Vadnais Heights MN. He has been operating UAS commercially since
                summer of 2015 and has been building and testing remote aircraft, and interested in aviation since he
                was a young kid.

              </p>
            </div>
          </div>

        </div>
        <div class="col-md-9 col-md-offset-1">
          <hr>
        </div>



        <div class="card card-profile card-plain" id="zach">

          <div class="col-md-3 col-md-offset-1">
            <div class="card-image">
              <a href="#pablo">
                <img class="img" src="/images/zach.jpg" alt="Staff photo of Zach Seeger"
                  style="height: 200px !important; width: 200px !important" />
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card-content">
              <h4 class="card-title" id="span1" style="text-align: left">Zach Seeger</h4>
              <h6 class="category text-muted" style="text-align: left">GIS Analyst</h6>

              <p class="card-description" style="text-align: left">
                Zach Seeger is a University of North Dakota student pursuing a Bachelor of Science degree in Geography
                and
                a minor in Geospatial Technologies. Zach has experience in the Geographic Information Systems and Remote
                Sensing through research on several projects.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <nav id="cd-vertical-nav">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="#tom" style='text-transform: none'>
          Tom Kenville
        </a>
      </li>
      <li>
        <a href="#adam" style='text-transform: none'>
          Adam Lingwall
        </a>
      </li>
      <li>
        <a href="#nathan" style='text-transform: none'>
          Nate Leben
        </a>
      </li>

      <li>
        <a href="#doug" style='text-transform: none'>
          Doug McDonald
        </a>
      </li>
      <li>
        <a href="#adamo" style='text-transform: none'>
          Adam Overvold
        </a>
      </li>
      <li>
        <a href="#ryan" style='text-transform: none'>
          Ryan Moriearty
        </a>
      </li>
      <li>
        <a href="#joe" style='text-transform: none'>
          Joey Schmit
        </a>
      </li>
      <li>
        <a href="#mike" style='text-transform: none'>
          Mike Link
        </a>
      </li>
      <li>
        <a href="#blake" style='text-transform: none'>
          Blake Prozinski
        </a>
      </li>
      <li>
        <a href="#russ" style='text-transform: none'>
          Russ Nelson
        </a>
      </li>
      <li>
        <a href="#jake" style='text-transform: none'>
          Jake Brosman
        </a>
      </li>

      <li>
        <a href="#zachD" style='text-transform: none'>
          Zach Daly
        </a>
      </li>
      <li>
        <a href="#jacksonF" style='text-transform: none'>
          Jackson Frankenhoff
        </a>
      </li>
      <li>
        <a href="#joe" style='text-transform: none'>
          Joe Schoepfer
        </a>
      </li>
      <li>
        <a href="#kyle" style='text-transform: none'>
          Kyle Bloomquist
        </a>
      </li>
      <li>
        <a href="#zach" style='text-transform: none'>
          Zach Seeger
        </a>
      </li>
    </ul>
  </nav>
  <!--     *********    END TEAM 5      *********      -->
  <footer>
    <hr>
    <div class="container">
      <ul class="pull-left">
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/services">
            Services
          </a>
        </li>
        <li>
          <a href="/team">
            Team
          </a>
        </li>
        <li>
          <a href="/gallery">
            Gallery
          </a>
        </li>
        <li>
          <a href="/contactus">
            Contact Us
          </a>
        </li>
      </ul>

      <ul class="social-buttons pull-right">
        <li>
          <a href="https://twitter.com/isightrpv" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/isightrpv" target="_blank"
            class="btn btn-just-icon btn-facebook btn-simple">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCL7VnI_Ya5NEHnf16IUI1Gg" target="_blank"
            class="btn btn-just-icon btn-google btn-simple">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/isight-rpv/" target="_blank"
            class="btn btn-just-icon btn-linkedin btn-simple">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</template>