<template name="team">
  {{>nav}}
  <!--     *********    TEAM 5     *********      -->


  <div id="team" class="container">

    <div class="row">


      <div class="card card-profile card-plain" id="adam">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/adam.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Adam Lingwall</h4>
            <h6 class="category text-muted" style="text-align: left">Co-Founder</h6>

            <p class="card-description" style="text-align: left">
              Adam has a background in product development in the energy and agriculture industries. With a degree in
              Aerospace Engineering
              and an MBA, Adam brings unique experience to the ISight management team.

            </p>

          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="nathan">
        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/nathan.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Nathan Leben</h4>
            <h6 class="category text-muted" style="text-align: left">Co-Founder</h6>

            <p class="card-description" style="text-align: left">
              Nathan Leben, a University of North Dakota commercial aviation graduate, has been in the aviation
              industry for over 15 years
              with more than 8 years specifically pertaining to UAS. Nathan's exceptional UAS expertise is a core
              strength
              of the ISight management team.
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="tom">
        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/tom.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Tommy Kenville</h4>
            <h6 class="category text-muted" style="text-align: left">Rainmaker</h6>

            <p class="card-description" style="text-align: left">
              Tommy Kenville has over 25 years in aviation related experience, including 15 years at the University of
              North Dakota Aerospace
              Foundation and founding the Unmanned Applications Institute (the first Institute for research, testing
              and
              consulting in the emerging unmanned aerial vehicle industry in North Dakota, founded in 2010) prior to
              merging
              with ISight.

            </p>

          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="doug">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/doug.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Doug McDonald</h4>
            <h6 class="category text-muted" style="text-align: left">Flight Operations Manager</h6>
            <p class="card-description" style="text-align: left">
              Doug McDonald has more than 30 years of applied research, planning and development experience focusing on
              strategic development,
              unmanned systems and technology. Doug has undergraduate and graduate degrees from the University of North
              Dakota.
              Doug’s experience includes assignments in unmanned systems, aerospace, remote sensing, value-added
              agriculture
              and information technology.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="adamo">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/adamo.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Adam Overvold</h4>
            <h6 class="category text-muted" style="text-align: left">Chief Pilot</h6>

            <p class="card-description" style="text-align: left">
              Adam Overvold is a University of North Dakota commercial aviation and unmanned aerial systems graduate.
              He has pilot in command
              experience in several fixed wing and vtol UAS systems and maintains the highest level of professionalism
              in
              flight operations.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="ryan">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/ryanm.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Ryan Moriearty</h4>
            <h6 class="category text-muted" style="text-align: left">Chief Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Ryan Moriearty is a University of North Dakota graduate with degrees in Unmanned Aircraft Systems
              Operations and Aviation
              Management. He has broad knowledge and experience with both manned and unmanned aircraft operations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="russ">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/russ.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Russ Nelson</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Russ Nelson is a University of North Dakota unmanned aircraft systems graduate and an instrument rated
              certified flight instructor.
              He has a broad knowledge of both manned and unmanned aviation as well as atmospheric science. Russ has a
              background
              in agriculture and experience in several manned and unmanned aircraft.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="mike">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/mike.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Mike Link</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Mike Link is a commericial pilot and University of North Dakota graduate with a Bachelor of Unmanned
              Aerial Systems where
              he focused on UAS Systems and UAS operations. Mike’s experience includes aerial weather modification,
              cloud
              seeding and hail reduction. Mike brings hands-on experience in manned and unmanned aircraft operations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="blake">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/blake.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Blake Prozinski</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Blake Prozinski is a University of North Dakota graduate with a degree in Unmanned Aircraft Operations.
              Blake specializes
              in airport operations and has participated in USDA APHIS Wildlife Services training.
            </p>
          </div>
        </div>
      </div>



      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="mitchel">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/mitchel.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Mitchell Breuer</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Mitchell Breuer is from Elk River, MN. He graduated from the University of North Dakota with a Bachelors
              of Science in Unmanned
              Aircraft Systems. Mitchell is a problem solver, entrepreneur, and has a passion to teach youth about how
              UAS
              will shape our future.
            </p>
          </div>
        </div>


      </div>


      <div class="col-md-9 col-md-offset-1">
        <hr>
      </div>
      <div class="card card-profile card-plain" id="jake">

        <div class="col-md-3 col-md-offset-1">
          <div class="card-image">
            <a href="#pablo">
              <img class="img" src="/images/jake.jpg" style="height: 200px !important; width: 200px !important" />
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-content">
            <h4 class="card-title" id="span1" style="text-align: left">Jake Brosman</h4>
            <h6 class="category text-muted" style="text-align: left">Field Operations Specialist</h6>

            <p class="card-description" style="text-align: left">
              Mitchell Breuer is from Elk River, MN. He graduated from the University of North Dakota with a Bachelors
              of Science in Unmanned
            </p>
          </div>
        </div>


      </div>

    </div>

  </div>
  <nav id="cd-vertical-nav">
    <ul class="nav nav-pills nav-stacked">

      <li>
        <a href="#adam" style='text-transform: none'>
          Adam Lingwall
        </a>
      </li>
      <li>
        <a href="#nathan" style='text-transform: none'>
          Nathan Leben
        </a>
      </li>
      <li>
        <a href="#tom" style='text-transform: none'>
          Tom Kenville
        </a>
      </li>
      <li>
        <a href="#doug" style='text-transform: none'>
          Doug McDonald
        </a>
      </li>
      <li>
        <a href="#adamo" style='text-transform: none'>
          Adam Overvold
        </a>
      </li>
      <li>
        <a href="#ryan" style='text-transform: none'>
          Ryan Moriearty
        </a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="#russ" style='text-transform: none'>
          Russ Nelson
        </a>
      </li>
      <li>
        <a href="#mike" style='text-transform: none'>
          Mike Link
        </a>
      </li>
      <li>
        <a href="#blake" style='text-transform: none'>
          Blake Prozinski
        </a>
      </li>
      <li>
        <a href="#mitchel" style='text-transform: none'>
          Mitchell Breuer
        </a>
      </li>
      <li>
        <a href="#jake" style='text-transform: none'>
          Jake Brosman
        </a>
      </li>
    </ul>
  </nav>
  <!--     *********    END TEAM 5      *********      -->
  <footer>
    <hr>
    <div class="container">
      <ul class="pull-left">
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/services">
            Services
          </a>
        </li>
        <li>
          <a href="/team">
            Team
          </a>
        </li>
        <li>
          <a href="/gallery">
            Gallery
          </a>
        </li>
        <li>
          <a href="/contactus">
            Contact Us
          </a>
        </li>
      </ul>

      <ul class="social-buttons pull-right">
        <li>
          <a href="https://twitter.com/isightrpv" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/isightrpv" target="_blank" class="btn btn-just-icon btn-facebook btn-simple">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCL7VnI_Ya5NEHnf16IUI1Gg" target="_blank" class="btn btn-just-icon btn-google btn-simple">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>

      <!-- <div class="copyright pull-right">
        Copyright &copy;2017 ISight | RPV All Rights Reserved.
      </div> -->
    </div>
  </footer>
</template>